<style>
body {background: url(/static/0.jpg)no-repeat center center fixed;
background-size: cover;
overflow: hidden;}
h1 {background: dark; color:white}
</style>
{% extends "base.html" %}
{% block content %}
  <h1 style="text-align: center">Строение ак-47</h1>
  <p style="color:white>"Это сайт на Flask</p>
<h3 style="color: white; text-align: center; font-size:30px;">Основные характеристики: устройство автомата Калашникова Длина: 870 мм (АК), 880 мм (АКМ), 942 мм (АК-74); Вес (без патронов): 4,3 кг (АК), 4,1 кг (АКМ), 3,3 кг (АК-74); Калибр: 7,62×39 мм, 5,45×39 мм;Ударно-спусковой механизм (УСМ): куркового типа; режим огня — одиночныйавтоматический;Темп стрельбы: 850 выстрелов в минуту; Начальная скорость пули: 715 мс (АК, АКМ), 900 мс (АК-74); Прицельная дальность: 400 метров (АК) — открытый, 600 метров (АКМ), 1000 метров (АК-74); Емкость магазина: 30 патронов.
<img src="/static/str-47.jpg">
{% endblock %}