<!DOCTYPE html>
<head>                  <meta charset="utf-8">    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"
</head>
  
<html lang="ru">
      <nav class="menu style="background: indigo; padding: 5px; text-align: center; font-size:20px;">
        <a style="color: white;margin-right:20px;" href="/">ГЛАВНАЯ</a>
        <a style="color:white;margin-right:20px;" href="/about">СХЕМА</a>
        <a style="color:white;margin-right:20px;" 
        <a style="color:white;margin-right:20px;"
          href="/forma">ФОРМА</a>
        <div class="animation start-home"></div>
    </nav>
<body>
<body style="background: black">
    {% block content %}{% endblock %}
</body>
<body>
  <center>
  <img src="/static/ak-47.jpg">
    </center>
</body>
</html>